<a href="https://colab.research.google.com/github/guptaaryan8092/DataScience/blob/main/DataScienceU3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd

data = {'State': ['CA', 'CA', 'NY', 'NY'],
        'Year': [2000, 2001, 2000, 2001],
        'Population': [34.5, 35.2, 18.0, 18.5]}
df = pd.DataFrame(data)
df = df.set_index(['State', 'Year'])
df_unstacked = df.unstack()
df_stacked = df_unstacked.stack()
print(data)
print(df_stacked)

{'State': ['CA', 'CA', 'NY', 'NY'], 'Year': [2000, 2001, 2000, 2001], 'Population': [34.5, 35.2, 18.0, 18.5]}
            Population
State Year
CA    2000        34.5
      2001        35.2
NY    2000        18.0
      2001        18.5

<ipython-input-6-f92af79a843c>:9: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  df_stacked = df_unstacked.stack()

In [8]:
import pandas as pd
df_long = pd.DataFrame({
    'Date': ['2023-01', '2023-01', '2023-02'],
    'City': ['A', 'B', 'A'],
    'Temperature': [30, 35, 28]
})
df_wide = df_long.pivot(index='Date', columns='City', values='Temperature')
print(df_wide)

City        A     B
Date
2023-01  30.0  35.0
2023-02  28.0   NaN

In [13]:
df = pd.DataFrame({'A': [1, 2, None], 'B': [None, 3, 4]})
df_clean = df.dropna()  # Removes any rows with NaNs
print(df)
print(df_clean)

     A    B
0  1.0  NaN
1  2.0  3.0
2  NaN  4.0
     A    B
1  2.0  3.0

     A    B
0  1.0  0.0
1  2.0  3.0
2  0.0  4.0

In [15]:
df = pd.DataFrame({'A': [1, 2, None], 'B': [None, 3, 4]})
df_clean = df.dropna()  # Removes any rows with NaNs
print(df)
df.fillna(0)

     A    B
0  1.0  NaN
1  2.0  3.0
2  NaN  4.0

     A    B
0  1.0  0.0
1  2.0  3.0
2  0.0  4.0

In [19]:
df = pd.DataFrame({'A': [1, 2, None], 'B': [None, 3, 4]})
df_clean = df.dropna()  # Removes any rows with NaNs
print(df)
df.fillna(method='ffill')

     A    B
0  1.0  NaN
1  2.0  3.0
2  NaN  4.0

<ipython-input-19-800a2fbd3958>:4: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method='ffill')

     A    B
0  1.0  NaN
1  2.0  3.0
2  2.0  4.0

In [20]:
df = pd.DataFrame({'A': [1, 2, None], 'B': [None, 3, 4]})
df_clean = df.dropna()  # Removes any rows with NaNs
print(df)
df.interpolate()

     A    B
0  1.0  NaN
1  2.0  3.0
2  NaN  4.0

     A    B
0  1.0  NaN
1  2.0  3.0
2  2.0  4.0

In [24]:
import pandas as pd
import numpy as np

data = pd.Series([np.nan, 2, np.nan, np.nan, 5, np.nan])

data.ffill()

0    NaN
1    2.0
2    2.0
3    2.0
4    5.0
5    5.0
dtype: float64

In [23]:
import pandas as pd
import numpy as np

data = pd.Series([np.nan, 2, np.nan, np.nan, 5, np.nan])

data.bfill()

0    2.0
1    2.0
2    5.0
3    5.0
4    5.0
5    NaN
dtype: float64

In [25]:
data = pd.Series([1, np.nan, np.nan, 4, 5])

data.interpolate()

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

**2) Transforming Data Using a Function or Mapping:**

In [14]:
import pandas as pd

# Step 1: Create DataFrame
data = pd.DataFrame({
    'Name': ['Ram', 'Shyam', 'Tom', 'Jack', 'Ram', 'Jack', 'Tom'],
    'Att': [75, 46, 35, 42, 78, 97, 45]
})

# Step 2: Mapping dictionary (don't use 'class' as a variable name)
class_map = {
    'ram': 'A',
    'shyam': 'B',
    'tom': 'C',
    'jack': 'D'
}

# Step 3: Convert 'Name' column to lowercase
lowercased = data['Name'].str.lower()

# Step 4: Map to class letter
data['Final'] = lowercased.map(class_map)

# Step 5: Print result
print(data)

    Name  Att Final
0    Ram   75     A
1  Shyam   46     B
2    Tom   35     C
3   Jack   42     D
4    Ram   78     A
5   Jack   97     D
6    Tom   45     C

3) Replacing Values

In [18]:
import pandas as pd
import numpy as np

# Create a Series from a list
data = pd.Series([1, -999, 0, 999, -999, 999, 1, 0])

# Replace -999 with NaN
clean_data = data.replace(-999, np.nan)

print(clean_data)

0      1.0
1      NaN
2      0.0
3    999.0
4      NaN
5    999.0
6      1.0
7      0.0
dtype: float64

**4) Renaming Axis Indexes:**

In [26]:
import pandas as pd
import numpy as np

# Step 1: Create DataFrame
data = pd.DataFrame(
    np.arange(12).reshape((3, 4)),
    index=['Ram', 'Shyam', 'Tom'],
    columns=['one', 'two', 'three', 'four']
)
print("Original DataFrame:\n", data, "\n")

# Step 2: Uppercase first 4 letters of index
data.index = data.index.map(lambda x: x[:4].upper())
print("After transforming index (first 4 letters, uppercase):\n", data, "\n")

# Step 3: Rename specific index and column
data = data.rename(index={'RAM': 'JACK'}, columns={'two': 'TEST'})
print("After renaming index 'RAM' to 'JACK' and column 'two' to 'TEST':\n", data)

Original DataFrame:
        one  two  three  four
Ram      0    1      2     3
Shyam    4    5      6     7
Tom      8    9     10    11

After transforming index (first 4 letters, uppercase):
       one  two  three  four
RAM     0    1      2     3
SHYA    4    5      6     7
TOM     8    9     10    11

After renaming index 'RAM' to 'JACK' and column 'two' to 'TEST':
       one  TEST  three  four
JACK    0     1      2     3
SHYA    4     5      6     7
TOM     8     9     10    11

**5) Discretization and Binning**

In [27]:
import pandas as pd

# Step 1: Raw age data
ages = [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]
print("Original Ages List:\n", ages, "\n")

# Step 2: Define bin edges
bins = [18, 25, 35, 60, 100]

# Step 3: Discretize the data using pd.cut
cats = pd.cut(ages, bins)

# Step 4: Print the resulting categorical object
print("Binned Age Categories:\n", cats, "\n")

# Step 5: Show unique bins and counts
print("Categories (bins):", cats.categories)
print("Bin Counts:\n", pd.value_counts(cats))

Original Ages List:
 [20, 22, 25, 27, 21, 23, 37, 31, 61, 45, 41, 32]

Binned Age Categories:
 [(18, 25], (18, 25], (18, 25], (25, 35], (18, 25], ..., (25, 35], (60, 100], (35, 60], (35, 60], (25, 35]]
Length: 12
Categories (4, interval[int64, right]): [(18, 25] < (25, 35] < (35, 60] < (60, 100]]

Categories (bins): IntervalIndex([(18, 25], (25, 35], (35, 60], (60, 100]], dtype='interval[int64, right]')
Bin Counts:
 (18, 25]     5
(25, 35]     3
(35, 60]     3
(60, 100]    1
Name: count, dtype: int64

<ipython-input-27-ac107e135e09>:18: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  print("Bin Counts:\n", pd.value_counts(cats))

6) Detecting and Filtering Outliers

In [28]:
import pandas as pd
import numpy as np

# Step 1: Create a DataFrame with normally distributed data
data = pd.DataFrame(np.random.randn(1000, 4))
print("Summary Statistics:\n", data.describe(), "\n")

# Step 2: Choose one column (e.g., column index 2)
col = data[2]

# Step 3: Find outliers where absolute value > 3
outliers = col[np.abs(col) > 3]
print("Outliers in column 2 (|value| > 3):\n", outliers)

Summary Statistics:
                  0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean      0.007424    -0.017802     0.009418    -0.005570
std       0.970427     1.021087     0.983935     0.986251
min      -3.054766    -3.400232    -3.691168    -3.288402
25%      -0.623741    -0.736246    -0.660276    -0.671032
50%       0.031693    -0.047572     0.017428    -0.031014
75%       0.645034     0.658968     0.685643     0.672204
max       3.200558     4.343912     2.767134     3.634237

Outliers in column 2 (|value| > 3):
 351   -3.691168
Name: 2, dtype: float64

7) Permutation and Random Sampling:

In [29]:
import pandas as pd
import numpy as np

# Step 1: Create a DataFrame with 5 rows and 4 columns
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
print("Original DataFrame:\n", df, "\n")

# Step 2: Generate a random permutation of row indices (0 to 4)
sampler = np.random.permutation(5)
print("Random Row Indices (Permutation):", sampler, "\n")

# Step 3: Reorder the rows using .take()
shuffled_df = df.take(sampler)
print("Shuffled DataFrame:\n", shuffled_df)

Original DataFrame:
     0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

Random Row Indices (Permutation): [2 4 1 3 0]

Shuffled DataFrame:
     0   1   2   3
2   8   9  10  11
4  16  17  18  19
1   4   5   6   7
3  12  13  14  15
0   0   1   2   3

8) Computing Indicator/Dummy Variables

In [30]:
import pandas as pd

# Original DataFrame with a categorical column 'key'
df = pd.DataFrame({
    'key': ['b', 'b', 'a', 'c', 'a', 'b'],
    'data1': range(6)
})

print("Original DataFrame:\n", df, "\n")

# Convert 'key' column into dummy/indicator variables
dummies = pd.get_dummies(df['key'])
print("Dummy Variables:\n", dummies)

Original DataFrame:
   key  data1
0   b      0
1   b      1
2   a      2
3   c      3
4   a      4
5   b      5

Dummy Variables:
        a      b      c
0  False   True  False
1  False   True  False
2   True  False  False
3  False  False   True
4   True  False  False
5  False   True  False

**String Manipulation**

a) String Object Methods

In [35]:
val = 'a,b, guido'
val.split(',')

['a', 'b', ' guido']

In [36]:
val = 'a,b, guido'
val.split(',')
pieces = [x.strip() for x in val.split(',')]
pieces

['a', 'b', 'guido']

In [39]:
val = 'a,b, guido'
val.split(',')

first, second, third = pieces
first + '::' + second + '::' + third

'a::b::guido'

In [42]:
val = 'a,b, guido'
val.split(',')

first, second, third = pieces
first + '::' + second + '::' + third
'guido' in val

True

In [49]:
val = 'a,b, guido'
val.split(',')

first, second, third = pieces
first + '::' + second + '::' + third
val.index(',')

1

In [46]:
val = 'a,b, guido'
val.split(',')

first, second, third = pieces
first + '::' + second + '::' + third
val.find(':')

-1

In [50]:
val = 'a,b, guido'
val.split(',')

first, second, third = pieces
first + '::' + second + '::' + third
val.index(':')

ValueError: substring not found

In [51]:
val = 'a,b, guido'
val.split(',')

first, second, third = pieces
first + '::' + second + '::' + third
val.count(',')

2

In [53]:
val = 'a,b, guido'
val.split(',')

val.replace(',', '::')

'a::b:: guido'

In [54]:
val = 'a,b, guido'
val.split(',')
val.replace(',', '')

'ab guido'

b) Regular Expressions

In [55]:
import re
text = "foo bar\t baz \tqux"
re.split('\s+', text)

['foo', 'bar', 'baz', 'qux']

In [56]:
regex = re.compile('\s+')
regex.split(text)

['foo', 'bar', 'baz', 'qux']

In [57]:
regex.findall(text)

[' ', '\t ', ' \t']

In [58]:
text = """Dave dave@google.com
Steve steve@gmail.com
Rob rob@gmail.com
Ryan ryan@yahoo.com
"""
pattern = r'[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}'
regex = re.compile(pattern, flags=re.IGNORECASE)
regex.findall(text)

['dave@google.com', 'steve@gmail.com', 'rob@gmail.com', 'ryan@yahoo.com']

In [59]:
m = regex.search(text)
m

In [60]:
print(regex.match(text))

None

c) Vectorized String Functions in pandas:

In [61]:
data = {'Dave': 'dave@google.com', 'Steve': 'steve@gmail.com', 'Rob': 'rob@gmail.com', 'Wes':
np.nan}
data = pd.Series(data)
data

Dave     dave@google.com
Steve    steve@gmail.com
Rob        rob@gmail.com
Wes                  NaN
dtype: object

In [62]:
data.isnull()

Dave     False
Steve    False
Rob      False
Wes       True
dtype: bool

In [63]:
data.str.contains('gmail')

Dave     False
Steve     True
Rob       True
Wes        NaN
dtype: object

In [65]:
data.str.findall(pattern, flags=re.IGNORECASE)

Dave     [dave@google.com]
Steve    [steve@gmail.com]
Rob        [rob@gmail.com]
Wes                    NaN
dtype: object

In [66]:
matches = data.str.match(pattern, flags=re.IGNORECASE)
matches

Dave     True
Steve    True
Rob      True
Wes       NaN
dtype: object

In [71]:
matches.str.get(1)

AttributeError: Can only use .str accessor with string values!

**SUMMARIZING**

In [76]:
import pandas as pd
import numpy as np
data = {
'Date': pd.date_range(start='2024-01-01', periods=7),
'Temperature': [78, 85, 74, 84, 79, 73, 77],
'Sales': [234, 190, 302, 280, 310, 215, 275],
'CustomerSatisfaction': [4.5, 3.8, 4.2, 4.0, 5.0, 3.5, 4.1]
}
df = pd.DataFrame(data)
df.head()

        Date  Temperature  Sales  CustomerSatisfaction
0 2024-01-01           78    234                   4.5
1 2024-01-02           85    190                   3.8
2 2024-01-03           74    302                   4.2
3 2024-01-04           84    280                   4.0
4 2024-01-05           79    310                   5.0

**BINNING**

In [78]:
import numpy as np
data = np.random.rand(100)
num_bins = 10
hist, bins = np.histogram(data, bins=num_bins)
print("Bin Edges: ", bins)
print("Histogram Counts: ", hist)

Bin Edges:  [0.00131871 0.10036869 0.19941867 0.29846865 0.39751863 0.49656861
 0.59561859 0.69466857 0.79371856 0.89276854 0.99181852]
Histogram Counts:  [ 5  7 13 12 12  5 10 20  5 11]